.Header {
	box-shadow: var(--box-shadow-thick);
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.75rem;
	gap: 0.5rem;
	height: 100%;
	background: var(--header-background-color);
	transition: var(--fade-transition);
}

.LogoBox {
	display: flex;
	align-items: center;
}

.Logo {
	font-family: var(--raleway);
	font-style: normal;
	font-weight: 700;
	font-size: 6vw;
	line-height: var(--lineheight);

	background: var(--intro-header-content-g1);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--intro-header-content-g1) 0%,
		var(--intro-header-content-g2) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: var(--fade-transition);
}

.LogoImage {
	height: 4vw;
	aspect-ratio: 1;
	transform-origin: bottom;
	cursor: pointer;
}

.LogoImage:hover {
	animation: tickle 1s linear infinite;
}

.FocusWord {
	font-weight: 400;
}

@media only screen and (max-width: 750px) {
	.Logo {
		flex: auto;
	}
}

@keyframes tickle {
	0% {
		rotate: 0;
	}
	10% {
		rotate: 36deg;
	}
	20% {
		rotate: 72deg;
	}
	30% {
		rotate: 72deg;
	}
	40% {
		rotate: 36deg;
	}
	50% {
		rotate: 0deg;
	}
	60% {
		rotate: -36deg;
	}
	70% {
		rotate: -72deg;
	}
	80% {
		rotate: -72deg;
	}
	90% {
		rotate: -36deg;
	}
	100% {
		rotate: 0;
	}
}

@media screen and (min-width: 240px) and (max-width: 540px) {
	.LogoImage {
		height: 10vw;
	}
}
