.Header {
	background: var(--light-background-color);
	box-shadow: var(--box-shadow-thick);
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.75rem;
	gap: 0.5rem;
}

.Logo {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: var(--lineheight);
	color: var(--light-blue);
}

.FocusWord {
	font-weight: 400;
}

@media only screen and (max-width: 620px) {
	.Logo {
		flex: auto;
	}
}
