.Header {
	box-shadow: var(--box-shadow-thick);
	display: flex;
	position: sticky;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.75rem;
	gap: 0.5rem;
	height: 100%;
	background: var(--header-background-color);
	transition: var(--transition-animation);

}

.LogoBox {
	display: flex;
	align-items: center;
}

.Logo {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: 2rem;
	line-height: var(--lineheight);
	color: var(--light-blue);
}


.LogoImage {
	height: 4vw;
	aspect-ratio: 1;
	transform-origin: bottom;
	cursor: pointer;
}

.LogoImage:hover {
	animation: tickle 0.5s linear infinite;
}

.FocusWord {
	font-weight: 400;
}

@media only screen and (max-width: 620px) {
	.Logo {
		flex: auto;
	}
}

@keyframes tickle {
	0% {
		rotate: 0;
		translateX: 0;
	}
	10% {
		rotate: 10deg;
		translateX: 2%;
	}
	20% {
		rotate: 20deg;
		translateX: 4%;

	}
	30% {
		rotate: 30deg;
		translateX: 6%;
	}
	40% {
		rotate: 40deg;
		translateX: 8%;
	}
	50% {
		rotate: 50deg;
		translateX: 10%;
	}
	60% {
		rotate: 60deg;
		translateX: 8%;
	}
	70% {
		rotate: 50deg;
		translateX: 6%;
	}
	80% {
		rotate: 40deg;
		translateX: 4%;
	}
	90% {
		rotate: 30deg;
		translateX: 2%;
	}
	100% {
		rotate: 0;
		translateX: 0;
	}
}