@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600;700;800&display=swap');/*---------------------------- index.tsx ------------------------------------*/


/*---------------------------- index.tsx ------------------------------------*/
.Header {
	width: 100vw;
	padding: 1vh 2vw;
	display: flex;
	align-items: center;
}

.Header > h1 {
	font-family: var(--v3-cursive-font);
	font-size: var(--v3-standard-heading-font-size);
	flex: auto;
    color: var(--v3-standard-dark-theme-text-color);
}

.LogoImage {
	width: clamp(3rem, 2.5vmax, 6rem);
	aspect-ratio: 1;
    margin-left: 3vw;
}
/*---------------------------- Dropdown.tsx ------------------------------------*/
.dropdown {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    cursor: pointer;
    padding: 1vh 0;
    position: relative;
}

.optionsWithArrow {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.arrow {
    height: 15px;
    width: 15px;
    background-color: red;
    clip-path: polygon(50% 50%, 0 100%, 100% 100%);
}

.options {
    flex-direction: column;
    border: 1px solid #ccc;
    background: #f3f4f5;
}

.dropdown:hover > .optionsWithArrow {
    display: flex; 
}
.down {
    font-weight: bold;
    font-size: calc(0.25*var(--v3-standard-heading-font-size));
}


/*---------------------------- VisibleHeaders.tsx ------------------------------------*/
.visibleHeaders {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2vw;
    margin-left: 2vw;
}

/*---------------------------- Common.tsx ------------------------------------*/
.dropdown > h3,.visibleHeaders > h2 {
    display: block;
    font-family: 'Noto Sans Mono', monospace;
    font-size: calc(0.25*var(--v3-standard-heading-font-size));
    letter-spacing: 0.08rem;
    font-weight: bold;
    color: var(--v3-standard-dark-theme-text-color);
}

.down, .dropdown > h3,.options > h3 {
    color: var(--v3-standard-dark-theme-text-color);
}


