.Card {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	gap: 0.5rem;
	box-shadow: var(--box-shadow-thin);
	border-radius: 1rem;
	animation: slide-from-left 5s ease-in;
	overflow: hidden;
}

@media screen and (min-width: 240px) and (max-width: 540px) {
	.Card {
		height: auto;
		display: none;
		padding: 1rem;
	}
	.Card h3:not(:last-child) {
		margin-bottom: 1rem;
	}
	.Card:first-child {
		display: flex;
	}
	.CardImage {
		border-radius: 0.5rem;
	}
}

.Card:nth-child(even) {
	background-color: var(--active-blue);
}
.Card:nth-child(odd) {
	background-color: var(--light-background-color);
}

.CardImage {
	border-radius: 1rem;
	max-width: var(--max-work-image-height);
}

.EmployerTitle {
	font-family: var(--railway);
	font-weight: 500;
	font-size: var(--work-title-font-size);
	letter-spacing: 0.02em;
	width: 100%;
	margin-top: 2rem;
}

.Card:nth-child(odd) .EmployerTitle {
	background: var(--light-blue);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--light-blue) 0%,
		var(--active-blue) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: var(--fade-transition);
}

.Card:nth-child(even) .EmployerTitle {
	background: var(--light-green);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--light-green) 0%,
		var(--subtle-dark-green) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: var(--fade-transition);
}

.Dates {
	font-weight: 500;
	font-size: var(--work-date-font-size);
	width: 100%;
}

.Card:nth-child(even) .Dates {
	color: var(--light-background-color);
}
.Card:nth-child(odd) .Dates {
	color: var(--light-blue);
}

.Card h3 {
	font-weight: 400;
	font-size: var(--work-para-font-size);
}
.Card:nth-child(odd) h3 {
	color: var(--normal-text-color);
}
.Card:nth-child(even) h3 {
	color: var(--light-background-color);
}

@keyframes slide-from-left {
	0% {
		translatex: -100%;
		opacity: 0;
	}
	20% {
		translatex: -80%;
		opacity: 0.2;
	}
	40% {
		translatex: -60%;
		opacity: 0.4;
	}
	60% {
		translatex: -40%;
		opacity: 0.6;
	}
	80% {
		translatex: -20%;
		opacity: 0.8;
	}
	100% {
		translatex: 0;
		opacity: 1;
	}
}
