.ShowMore {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}
.ShowMore > h1 {
	width: 100%;
	padding: 4vh 0.5vw;
	font-size: x-large;
	min-width: max-content;
	border-bottom: 1.5px solid var(--light-gray);
	transition: var(--fade-transition);
	background-color: var(--background-color);
}
.ShowMore > h1[is-active='true'] {
	transition: var(--fade-transition);
	background-color: var(--light-blue);
	color: var(--hover-more-text-color);
}
