.ShowMore {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100%;
}
.ShowMore > h1 {
	width: 100%;
	padding: 4vh 0.5vw;
	font-size: x-large;
	min-width: max-content;
	border-bottom: 1.5px solid var(--light-gray);
	transition: var(--fade-transition);
}
.ShowMore > h1[is-active='true']{
	transition: var(--fade-transition);
	background-color: var(--light-blue);
	color: var(--hover-more-text-color);
}