
.InputBox {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

.InputBox > input:invalid {
    background-color: rgba(242, 224, 171, 0.8);
}

.InputBox:has(input:invalid)::after {
    content: attr(error-message);
    color: orange;
}