.popup {
	padding: 2vh 1vw;
	color: white;
	width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
.popup > h2 {
    position: absolute;
    top: 0;
    right: 0;
    translate: -50% 50%;
    font-size: 1vw;
    font-weight: 200;
    text-align: end;
    cursor: pointer;
    transition: var(--fade-transition);
}
.popup > h2:hover {
    transform: scale(1.1);
}

.popup > h1 {
    color: white;
}

.alert {
	background-color: var(--error-red);
}
.success {
    background-color: var(--success-green);
}
.pending {
    background-color: var(--golden-achievement-text-color);
}

.ErrorMessage {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ErrorMessage > p > strong {
    text-transform: capitalize;
    margin-right: 0.5vw;
}

.Icon {
    color: white;
    font-weight: 100;
    font-size: 1vw;
}
.Toolbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: 2px solid white;
}
