.IntroHeader {
	display: flex;
	align-items: center;
	padding: 0 3rem;
	margin-top: 3rem;
}
.IntroHeaderContent {
	font-family: var(--railway);
	font-weight: 500;
	font-size: var(--h1-text);
	line-height: var(--line-height);
	letter-spacing: 0.05em;
	background: var(--intro-header-content-g1);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--intro-header-content-g1) 0%,
		var(--intro-header-content-g2) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	transition: var(--fade-transition);
}

.WorkExperienceCardsContainer {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	padding: 1rem 0.3rem;
}
