.Card {
	height: 38vw;
	aspect-ratio: 0.757;
	border-radius: 1.2rem;
	padding: 2rem 0.5rem;
	display: flex;
	flex-direction: column;
	border: 2px solid red;
}

.CardLight {
	background: var(--card-light-bg);
}
.CardDark {
	background: var(--card-dark-bg);
}

.CardImage {
	aspect-ratio: 1;
	width: 80%;
	border-radius: 2.2rem;
	margin: 0 auto;
}

.CardHeading {
	font-family: var(--raleway);
	font-style: normal;
	font-weight: 500;
	font-size: 1.3vw;
	line-height: 2rem;
	color: var(--card-heading);
	width: 100%;
	padding: 0 1.5rem;
}

.CardSubHeading {
	font-family: var(--raleway);
	font-style: normal;
	font-weight: 700;
	font-size: 1.3vw;
	line-height: 4rem;
	letter-spacing: 0.05em;
	padding: 0 1.5rem;
}

.CardSubHeadingLight {
	color: var(--card-dark-bg);
}

.CardSubHeadingDark {
	color: var(--card-light-bg);
}

.Para {
	font-family: var(--raleway);
	font-style: italic;
	font-weight: 400;
	font-size: 1vw;
	line-height: 1.2vw;
	letter-spacing: 0.05em;
	padding: 0 1.5rem;
}

.ParaLight {
	color: var(--card-dark-para);
}
.ParaDark {
	color: var(--card-light-para);
}
