.AwardCard {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 5fr;
}

.SideImage {
	width: var(--side-image-size);
	height: var(--side-image-size);
}

.Details {
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: var(--side-image-size);
	overflow: hidden;
}

.TitleAndDescription {
	width: 100%;
	display: flex;
	flex-direction: column;
	column-gap: 0.5rem;
}

.TitleAndDescription h1 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: var(--awards-title);
	letter-spacing: 0.05em;
	color: var(--awards-title-color);
}

.TitleAndDescription h2 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: var(--awards-title);
	letter-spacing: 0.05em;
	color: var(--awards-title-color);
}

.Details h3 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: var(--awards-details);
	letter-spacing: 0.05em;
	color: var(--awards-title-color);
}

.Details p {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 400;
	font-size: var(--award-details-p);
	letter-spacing: 0.1em;
	color: var(--awards-title-color);
}

.evenBG {
	background-color: var(--awards-card-background-b2);
	transition: var(--fade-transition);
}

.oddBG {
	background-color: var(--awards-card-background-b1);
	transition: var(--fade-transition);
}

.AchievementButton {
	padding: 0.85vw 1vw;
	font-size: var(--view-achievement-button-font-size);
	position: absolute;
	top: 0;
	right: 0;
	translate: -1vw 0.85vw;
}
