.GetInTouchArea {
	height: 100%;
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	row-gap: var(--row-gap-get-in-touch);
}

.GetInTouchArea h1 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: var(--get-in-touch-heading);
	letter-spacing: 0.05em;
	color: var(--get-in-touch-color);
}

.InputContainer input,
.InputContainer textarea {
	border: none;
	outline: none;
	width: 100%;
	font-size: var(--get-in-touch-input-font-size);
	background-color: var(--body-bg);
	color: var(--input-field-text-placeholder-color);
}

.InputContainer input::placeholder,
.InputContainer textarea::placeholder {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: var(--get-in-touch-input-font-size);
	color: var(--get-in-touch-placeholder-color);
}
.InputContainer {
	display: flex;
	flex-direction: column;
	row-gap: 0.8rem;
	width: 100%;
}
.InputContainer > div {
	height: 0.313rem;
	width: 100%;
	background-color: var(--get-in-touch-color);
}

.ButtonStyle {
	padding: calc(0.25rem * var(--size-factor)) calc(1.25rem * var(--size-factor));
	border-radius: 0.2rem;
	font-size: var(--get-in-touch-button-font-size);
}
