.IntroHeader {
	display: flex;
	align-items: center;
	padding: 0 3rem;
	margin-bottom: 3rem;
}
.IntroHeaderContent {
	font-family: var(--railway);
	font-weight: 500;
	font-size: var(--h1-text);
	line-height: var(--line-height);
	letter-spacing: 0.05em;
	background: var(--intro-header-content-g1);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--intro-header-content-g1) 0%,
		var(--intro-header-content-g2) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	transition: var(--fade-transition);
}

.TestimonialSection {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 30fr 1fr;
}

.Testimonial {
	height: 100%;
    padding: 10rem 5rem 5rem;
}

.TestimonialEntity {
	position: relative;
	background: var(--testimonial-container);
	box-shadow: var(--testimonial-box-shadow-effect);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1.2rem;
    padding: 8rem 1rem 2rem;
}

.TestimonialEntity h1 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	letter-spacing: 0.1em;
	color: var(--testimonial-entity-h1);
}

.TestimonialEntity h2 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: 0.05em;
	color: var(--testimonial-entity-h2);
}

.TestimonialEntity p {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 400;
	font-size: 2rem;
	letter-spacing: 0.05em;
	color: var(--testimonial-entity-h2);
}

.ChatIcon {
    position: absolute;
    border-radius: 50%;
    top: 0;
    translate: 0 -50%;
    height: var(--testimonial-icon);
    aspect-ratio: 1;
}
