.SwitchBoard {
	width: var(--radio-container-max-width);
	border-radius: 3vw;
	aspect-ratio: 2.5;
	background-color: var(--toggle-switch-bg);
	box-shadow: -2px 4px 12px -7px #000000;
	position: relative;
	cursor: pointer;
	transition: var(--fade-transition);
	display: none;
}

.SwitchBoard section {
	border-radius: 50%;
	width: var(--radio-button-max-size);
	aspect-ratio: 1;
	background-color: var(--toggle-switch);
	top:50%;
	left: 0;
	position: absolute;
	transition: 0.3s all ease-in;
	box-shadow: 0px 3px 8px -2px #000000;
	transition: var(--fade-transition);
}

.off {
	translate: calc(calc(var(--radio-container-max-width)/5) - calc(var(--radio-button-max-size)/2)) -54%;
	transition: 0.3s all ease-in;
}

.on {
	translate: calc(calc(2*var(--radio-container-max-width))/3) -54%;
	transition: 0.3s all ease-in;
}

.nightIcon,.dayIcon {
	font-size: var(--radio-button-max-size);
	position: absolute;
	top: calc(50% - calc(var(--radio-button-max-size))/2);
	display: none;
	color: var(--toggle-switch);
}

.nightIcon {
	right: calc(20% - calc(var(--radio-button-max-size))/2);
}

.dayIcon {
	left: calc(20% - calc(var(--radio-button-max-size))/2);
}

.showSymbol {
	display: block;
	transition: 0.3s all ease-in;
}


@media (max-width: 768px) {
	.SwitchBoard {
		display: block;
	}
}