@import '../../../../styles/utils/_imports.scss';

.HeaderList {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  order: 1;
  @include respond(tablet) {
    gap: 2rem;
    flex: none;
    order: 1;
  }
  @include respond(mobile) {
    display: none;
  }
}

.HeaderListElement {
  font-family: $railway-font;
  font-style: normal;
  font-weight: 600;

  @include respond(tablet) {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.05em;
  color: $dark-gray-font;
  cursor: pointer;
  transition: 0.3s ease-in;
  &:hover {
    transform: scale(1.05);
  }
  &Active {
    color: $toggle-switch-color-dark;
  }
}

.ViewList {
  order: 1;
  @include respond(medium-laptop) {
    display: none;
  }
  @include respond(small-laptop) {
    display: none;
  }
  @include respond(tablet) {
    display: none;
  }
  @include respond(mobile) {
    flex: none;
    order: 2;
    display: flex;
  }
  text-align: end;
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  &Icon {
    font-size: 4rem;
    color: $dark-gray-font;
    cursor: pointer;
  }
}

.RouterListDropDown {
  position: absolute;

  padding: 0.5rem 3.5rem;
  box-shadow: -4px 4px 10px 7px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 6px 6px;
  right: 0;
  transform: translateY(5.2rem);
  background: $light-bg;
  display: flex;
  flex-direction: column;
  &_Dark {
    background: $faded-dark-bg;
  }
  &_Elements {
    font-family: $railway-font;
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 6rem;
    letter-spacing: 0.05em;
    color: $dark-gray-font;
    &_Active {
      color: $toggle-switch-color-dark;
    }
    &_ActiveDark {
      color: $light-blue;
    }
  }
}
