// Colors
$light-blue: #0aa1dd;
$light-bg: #ffffff;
$light-yellow-bg: rgba(255, 249, 117, 0.4);
$toggle-switch-color-light: #faff00;
$dark-blue-bg: #6677a8;
$toggle-switch-color-dark: #001d6e;
$dark-gray-font: #cfcfcf;

// Fonts
$railway-font: 'Raleway', sans-serif;
