.BlogCard {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.BlogCardImage {
	height: var(--relatable-blog-image-height);
	width: auto;
}

.CategoryRow {
	display: flex;
	align-items: center;
	column-gap: 0.4rem;
	margin: 0.5rem 0;
}

.Circle {
	border-radius: 50%;
	height: var(--radius);
	width: var(--radius);
	background-color: var(--primary-category-circle);
}
.CategoryRow h2 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.05em;
	color: var(--suggested-blog-category-h2);
}

.BlogCard h3 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: var(--blog-card-h3-font-size);
	letter-spacing: 0.05em;
	color: var(--suggested-blog-category-h3);
	padding: 0;
	margin: 0;
}

.BlogCard h4 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: var(--blog-card-h4-font-size);
	letter-spacing: 0.05em;
	color: var(--suggested-blog-category-h4);
	padding: 0;
	margin: 0;
}
