.VideoCard {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;
}



.VideoCard h1 {
	flex: 1;
	font-family: var(--railway);
	font-style: normal;
	font-weight: 700;
	font-size: 1.375rem;
	letter-spacing: 0.05em;
	color: var(--video-content-main-h1-color);
}
