.SwitchBoard {
	width: 100px;
	border-radius: 50px;
	aspect-ratio: 2.5;
	background-color: var(--toggle-switch-bg);
	position: relative;
	cursor: pointer;
	transition: var(--fade-transition);
}

.SwitchBoard section {
	border-radius: 50%;
	width: 30px;
	aspect-ratio: 1;
	background-color: var(--toggle-switch);
	top:50%;
	left: 0;
	position: absolute;
	transition: 0.3s all ease-in;
	box-shadow: 0px 3px 8px -2px #000000;
	transition: var(--fade-transition);
}

.off {
	translate: 5px -15px;
	transition: 0.3s all ease-in;
}

.on {
	translate: 65px -15px;
	transition: 0.3s all ease-in;
}

.nightIcon,.dayIcon {
	font-size: 30px;
	position: absolute;
	top: 5px;
	display: none;
	color: var(--toggle-switch);
	transition: 0.3s all ease-in;
}

.nightIcon {
	right: 10px;
}

.dayIcon {
	right: 60px;
}

.showSymbol {
	display: block;
	transition: 0.3s all ease-in;
}