.SwitchBoard {
	width: clamp(5rem, 6vmax, 16rem);
	border-radius: 1.5vmax;
	aspect-ratio: 2.5;
	background-color: var(--toggle-switch-bg);
	box-shadow: -2px 4px 12px -7px #000000;
	position: relative;
	cursor: pointer;
}

.SwitchBoard section {
	border-radius: 50%;
	width: clamp(0.5rem, 1.8vmax, 3rem);
	aspect-ratio: 1;
	background-color: var(--toggle-switch);
	top:50%;
	left: 0;
	position: absolute;
	transition: 0.3s all ease-in;
	box-shadow: 0px 3px 8px -2px #000000;
}

.off {
	translate: 50% -54%;
	transition: 0.3s all ease-in;
}

.on {
	translate: calc(clamp(5rem, 6vmax, 16rem) - 150%) -54%;
	transition: 0.3s all ease-in;
}
