.SocialIcon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.Icon {
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--fade-transition);
    color: var(--special-icon-color);
}

.Icon:hover {
    scale: 0.9;
}

@media (max-aspect-ratio: 550 / 897) {
	.SocialIcon {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1vh;
    }
}