.Header {
	width: 100%;
	max-width: 100vw;
	padding: 1rem;
	display: flex;
	align-items: center;
	top: 0;
	position: sticky;
	box-shadow: -4px 4px 10px 7px rgba(0, 0, 0, 0.25);
	background-color: var(--header-bg-color);
	z-index: 1;
	transition: var(--fade-transition);
}

.LogoSection {
	display: flex;
	align-items: center;
}

.LogoSection > h1 {
	font-size: clamp(0.5rem, var(--standard-headings), 8rem);
	color: var(--logo-heading-color);
	transition: var(--fade-transition);
}

.LogoImage {
	width: clamp(3rem, 2.5vmax, 6rem);
	aspect-ratio: 1;
}

.HeaderElements {
	display: flex;
	align-items: center;
	flex: auto;
	column-gap: 1vw;
	justify-content: space-evenly;
}

.HeaderElement,
.Select {
	font-size: clamp(0.4rem, var(--standard-headings-small), 6rem);
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;
	color: var(--header-element-color);
	transition: var(--fade-transition);
}

.Select {
	display: flex;
	align-items: center;
	column-gap: 0.25vw;
	position: relative;
}
.Select::after {
	content: '⌄';
	margin-top: -12.5%;
}

.Select:hover > .SelectDropDown {
	display: flex;
	flex-direction: column;
	transition: 0.3s all ease-in;
	align-items: flex-end;
}

.SelectDropDown {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	translate: 0 2vh;
	background-color: var(--background-color);
	border-radius: 0.25rem;
	padding: 0.5vh 0.5vw;
	box-shadow: var(--box-shadow-mid);
	transition: var(--fade-transition);
}

.SelectDropDown > h1 {
	width: 100%;
	padding: 1.5vh 0.5vw;
	font-size: large;
	min-width: max-content;
	border-bottom: 1.5px solid var(--light-gray);
	text-align: end;
	transition: var(--fade-transition);
}
.SelectDropDown > h1:hover {
	transition: var(--fade-transition);
	scale: 1.08;
	background-color: var(--light-blue);
	color: var(--hover-more-text-color);
}

.HeaderElement:nth-child(n + 4),
.SelectDropDown > h1:not(:nth-child(n + 4)),
.MobileOnly {
	display: none;
}

@media (max-aspect-ratio: 550 / 897) {
	.HeaderElements {
		display: none;
	}
	.Header {
		justify-content: space-between;
		padding: 0.3rem;
	}
	.MobileOnly {
		display: flex;
		flex: auto;
		justify-content: flex-end;
		column-gap: 1.5vw;
		align-items: center;
	}
}
