@import '../../styles/utils/_imports.scss';

$background-animation-duration: 0.3s;
@keyframes animateFadeEffectLight {
  0% {
    background: $faded-dark-bg;
  }
  100% {
    background: $light-bg;
  }
}

@keyframes animateFadeEffectDark {
  0% {
    background: $light-bg;
  }
  100% {
    background: $faded-dark-bg;
  }
}

.Body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: $light-bg;
  &_inToggle {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: $light-bg;
    animation-duration: $background-animation-duration;
    animation-name: animateFadeEffectLight;
    animation-timing-function: ease-in;
  }
  &_dark {
    background: $faded-dark-bg;
    animation-duration: $background-animation-duration;
    animation-name: animateFadeEffectDark;
    animation-timing-function: ease-in;
  }
}
