.ChatElement {
	width: 100%;
	display: flex;
	align-items: center;
}

.ChatImage {
	height: var(--chat-avatar-size);
	width: var(--chat-avatar-size);
	-webkit-box-shadow: 0px 0px 30px 0px var(--chat-box-shadow);
	-moz-box-shadow: 0px 0px 30px 0px var(--chat-box-shadow);
	box-shadow: 0px 0px 30px 0px var(--chat-box-shadow);
	border-radius: 50%;
}

.MessageContainer {
	padding: 1rem;
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: var(--chat-message-font-size);
	line-height: 20px;
	letter-spacing: 0.05em;
	border-radius: 0.813rem;
}

.MessageContainer_from {
	background-color: var(--message-container-from-color);
	color: var(--message-container-text-color);
}

.MessageContainer_to {
	background-color: var(--message-container-to-color);
	color: var(--message-container-text-color);
}
