.ChatWindow {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	flex: auto;
	justify-content: flex-end;
}
.ChatContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow-mod);
	transition: var(--fade-transition);
	border: 2px solid red;
}
.TopNavigation {
	display: flex;
	align-items: center;
	padding: 1rem;
	width: 100%;
	background-color: var(--anonymous-chat-header-bg);
	transition: var(--fade-transition);
	justify-content: space-between;
}

.TopNavigation h2 {
	font-size: 1.2rem;
	color: var(--anonymous-chat-header-color);
	transition: var(--fade-transition);
}

.TopNavigation h2:last-child:hover {
	cursor: pointer;
	transform: scale(0.96);
}
.ChatElements {
	display: flex;
	max-height: var(--max-chat-window-height);
	overflow-y: auto;
	flex-direction: column;
	row-gap: 1rem;
}

.ChatElements::-webkit-scrollbar {
	display: none;
}

.MessageSendContainer {
	display: flex;
	width: 100%;
	align-items: center;
	padding: 1rem 0;
	column-gap: 1rem;
}

.MessageSendContainer input {
	border: none;
	outline: none;
	box-shadow: var(--box-shadow-mid);
	font-size: var(--message-input-size);
	transition: var(--fade-transition);
	padding: 0.5rem;
	flex: auto;
    background-color: var(--body-bg);
    color: var(--input-field-text-placeholder-color);
}

.MessageSendContainer input::placeholder {
    color: var(--input-field-text-placeholder-color);
}

.MessageSendContainer_button {
	height: var(--send-button-size);
	width: var(--send-button-size);
	color: var(--send-button-color);
	transition: var(--fade-transition);
}
