.BodyModule {
	width: 100%;
	max-width: 100vw;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(5, 1fr);
}

.H1Main {
	grid-area: 1 / 1 / 2 / 12;
	justify-self: center;
	padding: 2rem;
	font-size: clamp(0.5rem, var(--h1-text), 16rem);
	font-weight: bold;
	color: var(--light-blue);
	transition: var(--fade-transition);
}

.Intro {
	font-style: normal;
	font-weight: 500;
	font-size: clamp(0.5rem, var(--h2-text), 12rem);
	letter-spacing: 0.02em;
	grid-area: 2 / 1 / 3 / 8;
	justify-self: center;
	align-self: center;
	text-align: center;
	color: var(--intro-header-text-color);
	transition: var(--fade-transition);
}

.Intro > span {
	color: var(--light-blue);
	font-weight: 600;
	transition: var(--fade-transition);
}

.ImageContainer {
	grid-area: 2 / 8 / 6 / 12;
	height: 100%;
	width: 100%;
	justify-self: center;
	align-self: center;
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	overflow: hidden;
}

.Side {
	transition: all 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	backface-visibility: hidden;
}

.Back {
	transform: rotateY(180deg);
}
.ImageContainer:hover .Front {
	transform: rotateY(-180deg);
}
.ImageContainer:hover .Back {
	transform: rotateY(0);
}

.Front,.Back {
	max-height: 100%;
	max-width: 100%;
}

.Image {
	object-fit: contain;
	width: 100%;
	max-height: 100%;
}

.IntroPara {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	grid-area: 3 / 1 / 6 / 8;
	padding: 0.5rem 2rem;
}

.IntroPara > h4 {
	font-style: normal;
	font-weight: 300;
	font-size: clamp(0.5rem, var(--p-text), 8rem);
	letter-spacing: 0.05em;
	color: var(--intro-header-text-color);
	transition: var(--fade-transition);
}

@media screen and (min-height: 980px) {
	.BodyModule {
		row-gap: 5.4vh;
	}
}

@media (max-aspect-ratio: 550 / 897) {
	.BodyModule {
		width: 100%;
		max-width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.H1Main {
		text-align: center;
		padding: 1rem 0;
	}
	.IntroPara {
		padding: 0.5rem 1rem;
		row-gap: 1rem;
	}
}
