@import '../../../styles/utils/_imports.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $light-bg;
  box-shadow: -4px 4px 10px 7px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
