@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import '../../../styles/utils/_imports.scss';
.NameTag {
  font-family: $railway-font;
  font-style: normal;
  font-weight: 700;
  font-size: 3.5rem; //TODO: Responsive Size
  line-height: 4rem; //TODO: Responsive Size
  letter-spacing: 0.05em;
  color: $light-blue;
}
.LightTag {
  font-weight: 400;
}
