.content {
    margin: 2vh 2vw;
    font-size: 1.5vmax;
    line-height: 4vh;
    background-color: var(--blog-content-color);
    border-radius: 6px;
    padding: 2vh 2vw;
    flex: auto;
    transition: var(--fade-transition);
  }
  
  .content p {
    color: var(--post-excerpt-color);
  }

  .Markdown > p,.Markdown > h1,.Markdown,.Markdown > blockquote > p,.Markdown > ol > li > p,.Markdown > p > a {
    color: var(--markdown-generic-text-color);
  }
  
  .content .image {
    margin: 2vh auto;
    width: 100%;
    max-width: 600px;
  }
  
  @media (min-width: 768px) {
    .content {
      padding: 4vh 4vw;
    }
  }