.IntroHeader {
	display: flex;
	align-items: center;
	padding: 0 3rem;
}
.IntroHeaderContent {
	font-family: var(--railway);
	font-weight: 500;
	font-size: var(--h1-text);
	line-height: var(--line-height);
	letter-spacing: 0.05em;
	background: var(--intro-header-content-g1);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--intro-header-content-g1) 0%,
		var(--intro-header-content-g2) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	transition: var(--fade-transition);
}

.AwardsSection {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: 1fr 28fr 1fr;
}

.Awards {
	display: grid;
	height: 100%;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 1.5rem;
	grid-row-gap: var(--awards-row-gap);
	padding: 1rem;
}

.NavigationButton {
	cursor: pointer;
	transition: all 0.3s ease-in;
	align-self: center;
}
.NavigationButton:hover {
	scale: 0.9;
}

@media screen and (min-width: 240px) and (max-width: 540px) {
	.AwardsSection {
		display: flex;
		height: 100%;
		width: 100%;
	}
	.Awards {
		display: flex;
		height: 100%;
		width: 100%;
		flex-direction: row;
		padding: 1rem;
		overflow-x: auto;
	}
	.Awards::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge add Firefox */
	.Awards {
		-ms-overflow-style: none;
		scrollbar-width: none; /* Firefox */
	}
	.NavigationButton {
		max-width: 8vw;
	}
}
