:root {
	/* Constant Colors */
	--light-blue: #0aa1dd;
	--dark-blue: #001d6e;
	--faded-dark-blue: #172752;
	--blue-card-date-text-color: white;
	--blue-card-description-text-color: white;
	--white-card-date-text-color: var(--dark-blue);
	--white-card-description-text-color: black;
	--dark-gray: #6c6767;
	--orange: #f27304;
	--green: #05ff00;
	--faded-purple: rgba(74, 69, 214, 0.74);
	--light-yellow: rgba(237, 226, 32, 0.961);
	--light-gray: #e5e5e5;
	--blue-card-designation-text-color: var(--orange);
	--error-red: #f44336;


	/* Shadows */
	--box-shadow-thick: -4px 4px 10px 7px rgba(0, 0, 0, 0.25);
	--box-shadow-thin: -4px 4px 4px 4px rgba(0, 0, 0, 0.25);
	--box-shadow-mod: 0px 0px 12px 4px rgba(0, 0, 0, 0.44);
	--box-shadow-mid: 4px 4px 11px #000000;
	--testimonial-box-shadow-effect: 0px 4px 9px 19px rgba(192, 243, 247, 0.33);

	/* Font Sizes */
	--standard-headings: 3vmax;
	--h1-text: 3.5vmax;
	--h1-card-text: 2.6vh;
	--h1-date-text: 2vh;
	--h1-designation-text: 2.5vh;
	--h1-para-text: 2.2vh;
	--h2-text: 2.8vmax;
	--p-text: 2vmax;
	--standard-headings-small: 1.5vmax;
	--contact-header-text: 2.8vw;
	--get-in-touch-header-text: 3.2vw;
	--nav-button-max-width: 5vw;
	--get-in-touch-input-font-size: 3vw;
	--fade-transition: 0.3s ease-in all;
	--send-buttoon-size: clamp(1.5rem, 2.5vw, 5rem);
	--chat-avatar-size: 5vh;
	--chat-directly-font-size: 2vw;
	--send-button-size: 2vw;
	--video-container-height: 45vh;
	--yt-video-aspect-ratio: 1.7777777778;
	--video-content-text: 2.4vh;
	--testimonial-entity-text: 3.5vh;
	--icon-size: 3vh;
	--tech-stack-title: 2vh;
}
.lightMode {
	font-family: 'Courier New', Courier, monospace;
	scroll-behavior: smooth;
	--toggle-switch-bg: rgba(255, 255, 0, 0.4);
	--toggle-switch: #faff00;
	--background-color: white;
	--related-blog-title: var(--light-blue);
	--related-blog-category: var(--light-blue);
	--related-blog-date: var(--dark-blue);
	--inactive-blog-category-text: var(--dark-gray);
	--active-blog-category-text: var(--light-blue);
	--featured-blog-date-text: black;
	--featured-blog-view-all-button-text: var(--light-blue);
	--featured-blog-heading: var(--light-blue);
	--orange-button-color: var(--orange);
	--orange-button-color-text: white;
	--input-field-text-placeholder-color: var(--dark-gray);
	--get-in-touch-color: var(--orange);
	--anonymous-chat-header-bg: var(--faded-dark-blue);
	--anonymous-chat-header-color: white;
	--input-field-text-placeholder-color: black;
	--send-button-color: black;
	--message-container-from-color: var(--orange);
	--message-container-text-color: white;
	--message-container-to-color: var(--light-blue);
	--awards-card-background-b1: var(--orange);
	--awards-card-background-b2: var(--dark-blue);
	--achievement-button-color: white;
	--achievement-button-font-color: white;
	--video-content-p-font-color: var(--dark-gray);
	--testimonial-content-title: black;
	--testimonial-content-name: var(--dark-gray);
	--testimonial-content-p-color: var(--dark-gray);
	--tech-stack-title-color: black;
	--tech-stack-input-box: white;
	--special-icon-color: black;
	--footer-heading-color: white;
	--footer-bg: var(--faded-dark-blue);
	--hover-more-text-color: white;
}
.darkMode {
	font-family: 'Courier New', Courier, monospace;
	scroll-behavior: smooth;
	--toggle-switch-bg: rgba(255, 255, 0, 0.4);
	--toggle-switch: #faff00;
	--background-color: white;
	--related-blog-title: var(--light-blue);
	--related-blog-category: var(--light-blue);
	--related-blog-date: var(--dark-blue);
	--inactive-blog-category-text: var(--dark-gray);
	--active-blog-category-text: var(--light-blue);
	--featured-blog-date-text: black;
	--featured-blog-view-all-button-text: var(--light-blue);
	--featured-blog-heading: var(--light-blue);
	--orange-button-color: var(--orange);
	--orange-button-color-text: white;
	--input-field-text-placeholder-color: var(--dark-gray);
	--get-in-touch-color: var(--orange);
	--anonymous-chat-header-bg: var(--faded-dark-blue);
	--anonymous-chat-header-color: white;
	--input-field-text-placeholder-color: black;
	--send-button-color: black;
	--message-container-from-color: var(--orange);
	--message-container-text-color: white;
	--message-container-to-color: var(--light-blue);
	--awards-card-background-b1: var(--dark-blue);
	--awards-card-background-b2: var(--orange);
	--achievement-button-color: white;
	--achievement-button-font-color: white;
	--video-content-p-font-color: var(--dark-gray);
	--testimonial-content-title: black;
	--testimonial-content-name: var(--dark-gray);
	--testimonial-content-p-color: var(--dark-gray);
	--tech-stack-title-color: black;
	--tech-stack-input-box: white;
	--special-icon-color: white;
	--footer-heading-color: white;
	--footer-bg: var(--faded-dark-blue);
	--hover-more-text-color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* Common Utilities */
.NavigationButton {
	cursor: pointer;
	transition: all 0.3s ease-in;
	align-self: center;
	flex-shrink: 0;
	max-width: var(--nav-button-max-width);
}
.NavigationButton:hover {
	scale: 0.9;
}

/* Media Queries */

@media (max-aspect-ratio: 550 / 897) {
	:root {
		--nav-button-max-width: 4vw;
		--contact-header-text: 2.8vh;
		--get-in-touch-header-text: 3.2vh;
		--chat-directly-font-size: 3vh;
		--send-button-size: 4vh;
		--h1-text: 3.2vh;
	}
}

@media screen and (max-height: 700px) {
	:root {
		--get-in-touch-input-font-size: 2vw;
	}
}
