@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root {
	/* Colors */
	--light-background-color: #ffffff;
	--semi-gray-white: #e5e5e5;
	--faded-blue: #7dfffb;
	--light-blue: #0aa1dd;
	--inactive-silver: #cfcfcf;
	--inactive-silver-dark: #555460;
	--inactive-silver-semi-dark: #6c6767;
	--active-blue: #001d6e;
	--faded-blue: #19254c;
	--faded-blue-2: #4fa7ff;
	--dark-blue: #171dcf;
	--dark-yellow: rgba(255, 249, 117, 0.4);
	--light-yellow: rgba(237, 226, 32, 0.961);
	--normal-text-color: #000;
	--light-green: #72ff14;
	--subtle-dark-green: #478c42;
	--primary-orange: #f27304;
	--faded-purple: rgba(74, 69, 214, 0.74);

	/* Railway Font */
	--railway: 'Raleway', sans-serif;
	--size-factor: 2;
	--h1-text-main: clamp(3rem, 4.5vw, 5rem);
	--h1-text: clamp(3rem, 4vw, 4rem);
	--h2-text: clamp(2.5rem, 4.4vw, 4.5rem);
	--p-text: clamp(1rem, 1.8vw, 2rem);
	--big-button-text: 1.5rem;
	--icon-size: calc(1.5rem * var(--size-factor));
	--chat-status-icon-size: 1rem;
	--chat-avatar-size: 3rem;

	/* Work Variables */
	--max-work-image-height: 100%;
	--max-work-card-container-height: 39vw;
	--work-title-font-size: clamp(1rem, 1.4vw, 1.5rem);
	--work-date-font-size: clamp(1rem, 1.2vw, 1.2rem);
	--work-para-font-size: clamp(0.8rem, 1.1vw, 1.2rem);

	/* Blog Variables */
	--blog-element-font-size: clamp(0.8rem, 1.3vw, 1.375rem);
	--blog-number-heading: clamp(5rem, 6vw, 6.875rem);
	--blog-number-heading-inactive: clamp(3.2rem, 4vw, 4.125rem);
	--blog-highlighted-date: clamp(1.5rem, 2vw, 2.5rem);
	--featured-blog-heading: clamp(2.5rem, 3.5vw, 4rem);
	--featured-blog-image-size: clamp(12rem, 20vw, 28rem);
	--featured-blog-p-font-size: clamp(
		0.4rem,
		calc(0.9vw * var(--size-factor)),
		1.125rem
	);
	--blog-button-font-size: clamp(1rem, 1vw, 2rem);
	--relatable-blog-image-height: clamp(
		10rem,
		calc(14vw * var(--size-factor)),
		20rem
	);
	--blog-card-h3-font-size: clamp(0.6rem, 1.4vw, 1.5rem);
	--blog-card-h4-font-size: clamp(0.6rem, 1.4vw, 1.5rem);

	/* Contact Variables */
	--get-in-touch-heading: clamp(3.2rem, 4.2vw, 4rem);
	--get-in-touch-input-font-size: clamp(1.5rem, 2.2vw, 2.5rem);
	--get-in-touch-button-font-size: clamp(1rem, 2vw, 2rem);
	--max-chat-window-height: 69vh;
	--message-input-size: clamp(0.9rem, 1.2vw, 1.5rem);
	--send-button-size: clamp(1.5rem, 2.5vw, 2.5rem);
	--chat-message-font-size: clamp(0.5rem, 1vw, 1rem);

	/* Awards and Recognitions */
	--side-image-size: clamp(10rem, calc(21vh * var(--size-factor)), 15rem);
	--awards-title: clamp(0.8rem, 1.4vw, 1.5rem);
	--awards-details: clamp(0.8rem, 1.2vw, 1.25rem);
	--award-details-p: clamp(0.5rem, 1vw, 1rem);
	--view-achievement-button-font-size: clamp(0.5rem, 1vw, 1.2rem);

	/* Heights */
	--lineheight: 2rem;
	--toggle-switch-board-height: 2rem;
	--toggle-switch-button-height: 1.5rem;
	--radius: 0.5rem;
	--min-blog-number-width: 10rem;
	--sample-blog-line-height: 1.5rem;
	--yt-video-aspect-ratio: 1.7777777778;
	--testimonial-icon: 14rem;
	--tech-stack-img-size: 9.375rem;
	--tech-stack-star-size: 1.563rem;

	/* Shadows */
	--box-shadow-thick: -4px 4px 10px 7px rgba(0, 0, 0, 0.25);
	--box-shadow-thin: -4px 4px 4px 4px rgba(0, 0, 0, 0.25);
	--box-shadow-mod: 0px 0px 12px 4px rgba(0, 0, 0, 0.44);
	--box-shadow-mid: 4px 4px 11px #000000;
	--fade-transition: all 0.3s linear;
	--testimonial-box-shadow-effect: 0px 4px 9px 19px rgba(192, 243, 247, 0.33);

	/* Hover States */
	--hover-blog-sections-active: none;
}

@media screen and (max-width: 1280px) {
	:root {
		--size-factor: 1;
		--max-chat-window-height: 59vh;
	}
}

@media screen and (min-width: 1281px) and (max-width: 1540px) {
	:root {
		--size-factor: 1.2;
		--max-chat-window-height: 62vh;
	}
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

.header {
	height: 8vh;
}
.body {
	height: 92vh;
	overflow-x: hidden;
	overflow-y: auto;
	transition: var(--fade-transition);
	background-color: var(--body-bg);
}

/* Dark Mode Details */

.lightMode {
	--switch-board-background-color: var(--dark-yellow);
	--switch-button-color: var(--light-yellow);
	--header-background-color: var(--light-background-color);
	--active-nav-item-color: var(--active-blue);
	--passive-nav-item-color: var(--inactive-silver);
	--body-bg: var(--light-background-color);
	--intro-header-content: var(--normal-text-color);
	--intro-header-content-g1: var(--light-blue);
	--intro-header-content-g2: var(--active-blue);
	--intro-tag-line: var(--normal-text-color);
	--intro-tag-line-special: var(--light-blue);
	--intro-tag-line-special-g1: var(--light-blue);
	--intro-tag-line-special-g2: var(--active-blue);
	--button-g1: var(--light-blue);
	--button-g2: var(--active-blue);
	--button-g3: var(--light-green);
	--button-g4: var(--subtle-dark-green);
	--button-box-shadow: 0 0 20px #eee;
	--intro-para-color: var(--normal-text-color);
	--blog-section-element-color: var(--inactive-silver);
	--blog-section-active-color-g1: var(--faded-blue-2);
	--blog-section-active-color-g2: var(--dark-blue);
	--passive-cursor-color: var(--light-blue);
	--blog-highlighted-date-color: var(--normal-text-color);
	--primary-category-circle: var(--primary-orange);
	--category-font: var(--light-blue);
	--featured-blog-heading-color: var(--light-blue);
	--suggested-blog-category-h2: var(--normal-text-color);
	--suggested-blog-category-h3: var(--light-blue);
	--suggested-blog-category-h4: var(--active-blue);
	--sample-blog-paragraph-color: var(--normal-text-color);
	--special-icon-color: var(--normal-text-color);
	--get-in-touch-color: var(--primary-orange);
	--get-in-touch-placeholder-color: var(--inactive-silver-semi-dark);
	--chat-box-shadow: var(--faded-purple);
	--message-container-from-color: var(--primary-orange);
	--message-container-to-color: var(--light-blue);
	--message-container-text-color: var(--light-background-color);
	--anonymous-chat-header-color: var(--light-background-color);
	--anonymous-chat-header-bg: var(--light-blue);
	--send-button-color: var(--normal-text-color);
	--input-field-text-placeholder-color: var(--normal-text-color);
	--awards-card-background-b1: var(--dark-blue);
	--awards-card-background-b2: var(--primary-orange);
	--awards-title-color: var(--light-background-color);
	--video-content-main-h1-color: var(--light-blue);
	--video-content-main-content: var(--inactive-silver-semi-dark);
	--testimonial-container: var(--light-background-color);
	--testimonial-entity-h1: var(--normal-text-color);
	--testimonial-entity-h2: var(--inactive-silver-semi-dark);
	--tech-stack-input-box: var(--light-background-color);
	--tech-stack-title-color: var(--normal-text-color);
	--tech-stack-active-star-color: var(--light-yellow);
	--tech-stack-inactive-star-color: var(--semi-gray-white);
	--footer-bg: var(--faded-blue);
	--footer-text-color: var(--light-background-color);
	--footer-input-text-color: var(--normal-text-color);
	transition: var(--fade-transition);
}

.darkMode {
	--switch-board-background-color: var(--inactive-silver);
	--switch-button-color: var(--inactive-silver-dark);
	--header-background-color: var(--active-blue);
	--active-nav-item-color: var(--light-blue);
	--passive-nav-item-color: var(--light-background-color);
	--body-bg: var(--faded-blue);
	--intro-header-content: var(--light-blue);
	--intro-header-content-g1: var(--light-green);
	--intro-header-content-g2: var(--subtle-dark-green);
	--intro-tag-line: var(--light-background-color);
	--intro-tag-line-special: var(--light-blue);
	--intro-tag-line-special-g1: var(--light-green);
	--intro-tag-line-special-g2: var(--subtle-dark-green);
	--button-g1: var(--light-green);
	--button-g2: var(--subtle-dark-green);
	--button-g3: var(--light-blue);
	--button-g4: var(--active-blue);
	--button-box-shadow: 0 0 12px #eee;
	--intro-para-color: var(--light-background-color);
	--blog-section-element-color: var(--inactive-silver);
	--blog-section-active-color-g1: var(--light-green);
	--blog-section-active-color-g2: var(--subtle-dark-green);
	--passive-cursor-color: var(--light-blue);
	--blog-highlighted-date-color: var(--light-background-color);
	--primary-category-circle: var(--primary-orange);
	--category-font: var(--light-background-color);
	--featured-blog-heading-color: var(--light-blue);
	--suggested-blog-category-h2: var(--light-background-color);
	--suggested-blog-category-h3: var(--light-blue);
	--suggested-blog-category-h4: var(--light-background-color);
	--sample-blog-paragraph-color: var(--light-background-color);
	--special-icon-color: var(--light-background-color);
	--get-in-touch-color: var(--primary-orange);
	--get-in-touch-placeholder-color: var(--inactive-silver-semi-dark);
	--chat-box-shadow: var(--faded-purple);
	--message-container-from-color: var(--primary-orange);
	--message-container-to-color: var(--light-blue);
	--message-container-text-color: var(--light-background-color);
	--anonymous-chat-header-color: var(--light-background-color);
	--anonymous-chat-header-bg: var(--light-blue);
	--send-button-color: var(--light-background-color);
	--input-field-text-placeholder-color: var(--light-background-color);
	--awards-card-background-b1: var(--primary-orange);
	--awards-card-background-b2: var(--light-blue);
	--awards-title-color: var(--light-background-color);
	--video-content-main-h1-color: var(--light-blue);
	--video-content-main-content: var(--light-background-color);
	--testimonial-container: var(--active-blue);
	--testimonial-entity-h1: var(--light-background-color);
	--testimonial-entity-h2: var(--light-background-color);
	--tech-stack-input-box: var(--light-background-color);
	--tech-stack-title-color: var(--light-background-color);
	--tech-stack-active-star-color: var(--light-yellow);
	--tech-stack-inactive-star-color: var(--semi-gray-white);
	--footer-bg: var(--active-blue);
	--footer-text-color: var(--light-background-color);
	--footer-input-text-color: var(--normal-text-color);
	transition: var(--fade-transition);
}

/* Utility */
.ctr {
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.button {
	background-image: linear-gradient(
		to right,
		var(--button-g2) 0%,
		var(--button-g1) 51%,
		var(--button-g2) 100%
	);
	text-align: center;
	transition: 0.5s all ease-in, 0.3s scale ease-in;
	background-size: 200% auto;
	color: white;
	box-shadow: var(--button-box-shadow);
	border-radius: 10px;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
}

.button-alter {
	background-image: linear-gradient(
		to right,
		var(--button-g4) 0%,
		var(--button-g3) 51%,
		var(--button-g4) 100%
	);
	text-align: center;
	transition: 0.5s all ease-in, 0.3s scale ease-in;
	background-size: 200% auto;
	color: white;
	box-shadow: var(--button-box-shadow);
	border-radius: 10px;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
}
.button:hover,
.button-alter:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
	scale: 0.96;
}

.NavigationButton {
	cursor: pointer;
	transition: all 0.3s ease-in;
	align-self: center;
}
.NavigationButton:hover {
	scale: 0.9;
}

.section {
	width: 100%;
	max-height: 90vh;
	display: block;
	overflow: hidden;
}

.section > div.IntroHeader {
	display: flex;
	align-items: center;
	padding: 0 3rem;
	margin-bottom: 3rem;
}
.section > div > h1.IntroHeaderContent {
	font-family: var(--railway);
	font-weight: 500;
	font-size: var(--h1-text);
	line-height: var(--line-height);
	letter-spacing: 0.05em;
	background: var(--intro-header-content-g1);
	background: radial-gradient(
		circle farthest-corner at center center,
		var(--intro-header-content-g1) 0%,
		var(--intro-header-content-g2) 100%
	);
	-moz-background-clip: text;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	transition: var(--fade-transition);
}

.body::-webkit-scrollbar {
	width: 0.6em;
}

.body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
}
