@import '../../../styles/utils/_imports.scss';

.ToggleSwitchBox {
  width: 10.5rem;
  height: 5rem;
  box-shadow: -2px 4px 12px -7px #000000;
  border-radius: 5.3rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: relative;
}

$background-animation-duration: 0.3s;

@keyframes animateFadeEffectLight {
  0% {
    background: $dark-blue-bg;
  }
  100% {
    background: $light-yellow-bg;
  }
}

@keyframes animateFadeEffectDark {
  0% {
    background: $light-yellow-bg;
  }
  100% {
    background: $dark-blue-bg;
  }
}

@keyframes animateSwitchEffectLeft {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(-5%);
  }
}

@keyframes animateSwitchEffectRight {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(120%);
  }
}

.ToggleSwitchBoxLight {
  background: $light-yellow-bg;
  animation-duration: $background-animation-duration;
  animation-name: animateFadeEffectLight;
  animation-timing-function: ease-in;
}
.ToggleSwitchBoxDark {
  background: $dark-blue-bg;
  animation-duration: $background-animation-duration;
  animation-name: animateFadeEffectDark;
  animation-timing-function: ease-in;
}

.ToggleSwitchCircle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 0px 3px 8px -2px #000000;
  position: absolute;
}

.ToggleSwitchLight {
  background: $toggle-switch-color-light;
  transform: translateX(-5%);
  animation-duration: $background-animation-duration;
  animation-name: animateSwitchEffectLeft;
  animation-timing-function: ease-in;
}

.ToggleSwitchDark {
  background: $toggle-switch-color-dark;
  transform: translateX(120%);
  animation-duration: $background-animation-duration;
  animation-name: animateSwitchEffectRight;
  animation-timing-function: ease-in;
}
