@import '../../../styles/utils/_imports.scss';

$background-animation-duration: 0.3s;
$toggle-button-size: 2.5rem;
$toggle-button-size-small: 1.8rem;

$left-translation: -5%;
$right-translation: 120%;

.ToggleSwitchBox {
  width: 8.5rem;
  height: 3.6rem;
  @include respond-max(mini-tablet) {
    width: 6.5rem;
    height: 3rem;
  }
  box-shadow: -2px 4px 12px -7px #000000;
  border-radius: 5.3rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  position: relative;
}

@keyframes animateFadeEffectLight {
  0% {
    background: $dark-blue-bg;
  }
  100% {
    background: $light-yellow-bg;
  }
}

@keyframes animateFadeEffectDark {
  0% {
    background: $light-yellow-bg;
  }
  100% {
    background: $dark-blue-bg;
  }
}

@keyframes animateSwitchEffectLeft {
  0% {
    transform: translateX($right-translation);
  }
  100% {
    transform: translateX($left-translation);
  }
}

@keyframes animateSwitchEffectRight {
  0% {
    transform: translateX($left-translation);
  }
  100% {
    transform: translateX($right-translation);
  }
}

.ToggleSwitchBoxLight {
  background: $light-yellow-bg;
  &_inToggle {
    background: $light-yellow-bg;
    animation-duration: $background-animation-duration;
    animation-name: animateFadeEffectLight;
    animation-timing-function: ease-in;
  }
}
.ToggleSwitchBoxDark {
  background: $dark-blue-bg;
  animation-duration: $background-animation-duration;
  animation-name: animateFadeEffectDark;
  animation-timing-function: ease-in;
  &_inToggle {
    background: $dark-blue-bg;
    animation-duration: $background-animation-duration;
    animation-name: animateFadeEffectDark;
    animation-timing-function: ease-in;
  }
}

.ToggleSwitchCircle {
  width: $toggle-button-size;
  height: $toggle-button-size;
  @include respond-max(mini-tablet) {
    width: $toggle-button-size-small;
    height: $toggle-button-size-small;
  }
  border-radius: 50%;
  box-shadow: 0px 3px 8px -2px #000000;
  position: absolute;
  cursor: pointer;
  &:hover {
    scale: 0.95;
  }
}

.ToggleSwitchLight {
  background: $toggle-switch-color-light;
  transform: translateX($left-translation);
  &_inToggle {
    background: $toggle-switch-color-light;
    transform: translateX($left-translation);
    animation-duration: $background-animation-duration;
    animation-name: animateSwitchEffectLeft;
    animation-timing-function: ease-in;
  }
}

.ToggleSwitchDark {
  background: $toggle-switch-color-dark;
  transform: translateX($right-translation * 1.4);

  @include respond-max(mini-tablet) {
    transform: translateX($right-translation * 1.3);
  }
  @include respond-max(mobile) {
    transform: translateX($right-translation * 1.3);
  }
  &_inToggle {
    background: $toggle-switch-color-dark;
    transform: translateX($right-translation * 1.4);

    @include respond-max(mini-tablet) {
      transform: translateX($right-translation * 1.3);
    }
    @include respond-max(mobile) {
      transform: translateX($right-translation * 1.3);
    }
    animation-duration: $background-animation-duration;
    animation-name: animateSwitchEffectRight;
    animation-timing-function: ease-in;
  }
}
