.Rating {
	display: flex;
	column-gap: 0.4rem;
	justify-content: space-between;
}

.Active {
	font-size: var(--tech-stack-star-size);
	color: var(--light-yellow);
}

.Inactive {
	font-size: var(--tech-stack-star-size);
	color: var(--tech-stack-inactive-star-color);
}
