.Footer {
	background-color: var(--footer-bg);
	padding: 2rem 3rem;
	display: grid;
	grid-template-columns: 2fr 2fr 3fr;
	grid-template-rows: 1fr;
    transition: var(--fade-transition);
}

.FirstSection {
	display: flex;
	flex-direction: column;
    align-self: center;
    gap: 1rem;
}

.FirstSection h1 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: 2.875rem;
	letter-spacing: 0.05em;
	color: var(--footer-text-color);
    transition: var(--fade-transition);
}
.FirstSection h4 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: 1.2rem;
	letter-spacing: 0.05em;
	color: var(--footer-text-color);
    transition: var(--fade-transition);
}

.iconColor {
    color: var(--footer-text-color);
    transition: var(--fade-transition);
}

.SecondSection {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
    grid-row-gap: 1.5rem;
}

.SecondSection h2 {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: 0.02em;
	color: var(--footer-text-color);
    cursor: pointer;
    transition: var(--fade-transition);
}

.SecondSection h2:hover {
    scale: 0.96;
}

.MessageWithIcon {
	display: flex;
	align-items: center;
    gap: 1rem;
}

.MessageWithIcon p {
    font-size: 2rem;
    color: var(--footer-text-color);
    transition: var(--fade-transition);
    margin: 0;
    padding: 0;
}

.Icon {
	font-size: 2rem;
	color: var(--footer-text-color);
    transition: var(--fade-transition);
}

.EmailInputField {
	font-family: var(--railway);
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
	letter-spacing: 0.02em;
	color: var(--footer-input-text-color);
    transition: var(--fade-transition);
    text-decoration: underline;
	text-underline-offset: 0.5rem;
    padding: 1rem;
	border: none;
	outline: none;
    text-align: end;
    width: 80%;
}
.EmailInputField::placeholder {
    color: var(--footer-input-text-color);
    transition: var(--fade-transition);
}

.Button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
}

.ThirdSection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

